.box {
    background-color: var(--three);
    color: #412da8;
}



:root {
    --main: #412da8;
    --two: #5451d6;
    --three: #dbe9f6;
}

.logo {
    background-color: #412da8;
    padding: 10px 13px;
}

svg {
    color: rgb(252, 252, 252);
}
