<!-- <div class=" container p-5 mb-5  rounded-4">
    <div class="">
        <div class="mb-2  box p-4 shadow-lg  rounded-4">
            <div class="">
                <div class="setting-container   d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-content-between align-items-center">
                        <div class="logo  rounded-4 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg>
                        </div>
                        <div class="me-3">
                            إدراة الحساب
                        </div>
                    </div>
                    <div>
                        <img class="text-black" src="/assets/chevron-left.svg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>  -->
<div routerLink="" class="">

</div>
<!-- <div routerLink="" class=" my-2">
        <div class=" box p-4 shadow-lg  rounded-4">
            <div class="setting-container  d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-content-between align-items-center">
                    <div class="logo  rounded-4 ">
                        <svg height="24" viewBox="0 0 8 8" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m3 0-3 3.03 3 2.97v-2h5v-2h-5z" transform="translate(0 1)" />
                        </svg>
                    </div>
                    <div class="me-3">
                        تسجيل الخروج
                    </div>
                </div>
                <div>
                    <img class="text-black" src="/assets/chevron-left.svg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
  <div class="row p-4 d-flex flex-column justify-content-between align-items-center">
    <div class="">
    <div class="mb-2 box p-4 shadow-lg  rounded-4">
      <div class="">
        <div class="setting-container   d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-content-between align-items-center">
            <div class="logo  rounded-4 ">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
              </svg>
            </div>
            <div class="me-3">
              إدراة الحساب
            </div>
          </div>
          <div>
            <img class="text-black" src="/assets/chevron-left.svg" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
    <div class=" box p-4 shadow-lg  rounded-4">
      <div class="setting-container  d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-content-between align-items-center">
          <div class="logo  rounded-4 ">
            <img class="text-black" src="/assets/fast-food-outline.svg" alt="" srcset="">
          </div>
          <div class="me-3">
            وجباتي
          </div>
        </div>
        <div>
          <img class="text-black" src="/assets/chevron-left.svg" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
  </div>


</div>
