:root {
  --main: #412da8;
  --two: #5451d6;
  --three: #dbe9f6;
}

* {
  overflow: hidden;
}

.brand-name {
  font-size: 34px;
  font-weight: 600;
  color: #5451d6;
}

.col-12 {
  display: flex;
  justify-content: center;

}

h1 {
  margin-top: 2px;
  color: #412da8;
  font-size: 51px;
  font-weight: 900;
}

p {
  color: #4a4a4ad1;
  font-size: 16px;
}

span {
  color: #412da8;
}

button {
  margin-top: 1.2rem;
  background-color: #412da8;
  color: #dbe9f6;
  padding: 9px 2rem;
  bottom: 15rem;
  border: none;
  border-radius: 9px;
  width: 250px;
  height: 50px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.main-home {
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}
/* dbe9f6 */
