<!-- <div class="main-home d-flex justify-content-center flex-column">
  <div class="d-flex flex-column justify-content-center">
    <div>
      <div class="d-flex justify-content-center">
        <div class="mt-5 ">
          <iframe src="https://lottie.host/?file=61196c0c-4119-4cde-aaf8-15e899446625/GEyWTnE5qr.json"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center mt-4 ">
    <h1 class="lead pb-0 pt-3">
      سمكه البحر
    </h1>
    <p class="text-center ">صنع للسكريين بأيدي <span class="">سكرية</span></p>

  </div>

</div> -->


<div class="main-home d-flex justify-content-center align-items-center ">
  <div class="main-box d-felx flex-column justify-content-center align-items-center ">
    <div class="col-12">
        <iframe src="https://lottie.host/?file=61196c0c-4119-4cde-aaf8-15e899446625/GEyWTnE5qr.json"></iframe>
      </div>


    <div class="col-12 ">
      <div>
        <h1 class="text-center mt-2">
          سمكه
        </h1>
        <p class="text-center ">صنع للسكريين بأيدي <span class="">سكرية</span></p>
      </div>
    </div>
    <div class="col-12"> <button class="">نورنا</button></div>
  </div>
</div>
