<div class="container">
  <div>
    <div
      class="main row m-2 rounded-4 p-5 shadow-lg"
      style="background-color: #ccc9c993"
    >
      <div class="col">
        <img
          class="img-fluid shadow-lg rounded-4"
          src="{{ user.profileImage }}"
        />
      </div>

      <div
        class="col-md-8 col-sm-12 d-flex rounded-4 flex-column justify-content-center align-items-center"
      >
        <h1 class="text-light-emphasis text-center fs-3 lead my-2">
          {{ user.name }}
        </h1>
        <div class="profile-numbers d-flex pt-3 w-100">
          <div class="col-4 d-flex flex-column align-items-center">
            <p class="fw-medium text-dark-emphasis lead">{{ user.meals }}</p>
            <p class="content-text text-center">عدد الوجبات</p>
          </div>
          <div>|</div>
          <div class="col-4 d-flex flex-column align-items-center">
            <p class="fw-medium text-dark-emphasis lead">{{ user.hb1ac }}</p>
            <p class="content-text text-center">التراكمي</p>
          </div>
          <div>|</div>
          <div class="col-4 d-flex flex-column align-items-center">
            <p class="fw-medium text-dark-emphasis lead">
              {{ user.carbRatio }}
            </p>
            <p class="content-text text-center">معامل الكارب</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  :root {
    --main: #383045;
    --two: #f8714c;
    --three: #848190;
  }
  .content-text {
    margin-top: -15px;
    color: #cacace;
    background-color: var(--two);
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 10px;
  }
  .lead {
    color: #383045;
  }
</style>
