<div>
  <div>
    <div class="main">
      <img
        class="top shadow-sm p-3"
        src="https://mj-gallery.com/ef531913-e1e3-4fe9-a6f0-35923019ecc3/grid_0_640_N.webp"
        alt=""
      />

      <span
        class="badge fw-light part rounded-pill px-4 py-2"
        style="background-color: #f8714c"
        >Warning</span
      >
    </div>
  </div>
</div>
<style>
  .top {
    border-radius: 30px;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  .main {
    position: relative;
  }
  .part {
    position: absolute;
    bottom: 5px;
    right: 38%;
  }
</style>
