<div class="container">
  <div
    class="main bg row rounded-4 bobob px-4"
    style="padding: 2rem !important"
  >
    <div
      class="col-md-6 col-sm-12 shadow-lg d-flex position-relative rounded-4 flex-column justify-content-center align-items-center"
    >
      <h1 style="color: #4a6ec2" class="text-center fw-normal fs-3 lead mt-5">
        {{ user.name }}
      </h1>
      <p class="lead">@Rescco</p>
      <div class="profile-numbers d-flex pt-3 w-100">
        <div class="col-4 d-flex flex-column align-items-center">
          <p class="fw-medium data text-dark-emphasis lead">{{ user.meals }}</p>
          <p class="content-text text-center">عدد الوجبات</p>
        </div>
        <div>|</div>
        <div class="col-4 d-flex flex-column align-items-center">
          <p class="fw-medium data text-dark-emphasis lead">{{ user.hb1ac }}</p>
          <p class="content-text text-center">التراكمي</p>
        </div>
        <div>|</div>
        <div class="col-4 d-flex flex-column align-items-center">
          <p class="fw-medium data text-dark-emphasis lead">
            {{ user.carbRatio }}
          </p>
          <p class="content-text text-center">معامل الكارب</p>
        </div>
      </div>
      <div class="profile-img">
        <img
          style="max-width: 80px"
          class="img-fluid shadow-lg rounded-pill border-x"
          src="{{ user.profileImage }}"
        />
      </div>
    </div>
  </div>
</div>
<style>
  h1 {
    color: #1a5df8;
  }
  :root {
    --main: #383045;
    --two: #f8714c;
    --three: #848190;
  }
  .profile-img {
    position: absolute;
    top: -34px;
    border-color: #1a5df8;
  }
  img {
    border: #1a5df8df 5px solid;
    border-bottom: 0;
    border-right: 0;
    
  }
  .bobob {
  }
  .content-text {
    margin-top: -15px;
    color: #ceced3;
    background-color: #4a6ec2;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 10px;
  }

  .col-4:hover {
    transform: scale(1.1, 1.1);
    transition: all ease-in 0.3s;
  }

  .lead {
    color: #383045;
  }
</style>
