/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Bitter', serif;
  font-family: 'Cairo', sans-serif;
 
}
body {
  overflow: hidden;
  background-color: #cacace;
  height: 100%;
}


:root {
  --main: #383045;
  --two: #f8714c;
  --three: #848190;
}
