/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Bitter', serif;
  font-family: 'Cairo', sans-serif;

}
body {
  overflow-x: hidden;
  background-image: url('/assets/blurry-gradient-haikei (1).svg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}

:root {
  --main: #412da8;
  --two: #5451d6;
  --three: #dbe9f6;
}
